*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width:100%;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 255, 0.717);
}
#center_contain{
    display: flex;
    justify-content: column;
    width:100%;
    padding:5px;
}
#manytext{
    height: auto;
    padding:5px;
}
#text{
    margin-bottom:5px;
    background-color: rgb(222, 222, 222);
    border: 1px rgb(130, 130, 130) solid;
    padding:5px;
}
#textinfo{
    padding-top: 5px;
    text-align:right;
}
#sidpannel{
    height:auto;
    border-radius:5px;
    background-color: rgba(238, 255, 0, 0.402);
    padding:5px;
    width:1000px;
}
#linje{
    height:1px;
    background-color: black;
}
footer{
    padding:5px;
    display: flex;
    justify-content: space-between;
    width:100%;
}